<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns	= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id			= "loader.restaurant_my"
	version 	= "0.7.0">

	<name>2K Restaurant 1.7</name>

	<description>
		Loader for my-online system
	</description>

	<preference name="phonegap-version" value="1.5.0" />
	
	<author email="m.v.korotenko@gmail.com">
		Maxim Korotenko
	</author>

	<icon src="icon.png" gap:role="default" />
	
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/device"/>
	
	<preference name="orientation" value="default"/>
	
</widget>